extends layout
block content
  h1.landing Joogle
  form.landing(action="search", method="get")
    input(type="text", name="q", id="q")
    input(type="submit", value="Go!")
  #footer.landing
    p By &nbsp;
      a(href='http://buzytor.com') Buzytor
