extends layout
block content
  #landing
    h1 Joogle
    h2.tagline Holistic NPM function search by signature
    form.landing(action="search", method="get")
      input(type="text", name="q", id="q")
      input(type="submit", value="Go!")
