extends layout
block content
  #header
    h1.search Joogle
    form.search(action="search", method="get")
      input(type="text", name="q", id="q")
      input(type="submit", value="Go!")
  #results
    each result in results
      h2
        span.name= result.name
        span.type_separator  :: 
        span.signature= result.signature 
      p= result.description
        ul
          each tag in result.tags
            li= tag
