extends layout
block content
  include header
  #search
    #results
      if results && results.length > 0
        each result in results
          .result
            .declaration
              h3
                a(href="details/" + result.name)= result.name
              ul.signatures
                each signature in result.signatures
                  li
                    a(href="details/" + result.name)= signature
            if result.description
              p.description= result.description
            if result.tags
              ul.tags
                each tag in result.tags
                  li= tag
      else
          p.description Phrase not found
