/**
 * #d59d2e light yellow
 * #bf6819 orange
 * #d8d7d3 whitish
 * #6293c2 light blue
 * #572d21 brown
 */

body {
  background-color: #faf9f5;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: #572d21;
  font-size: 60px;
  margin-bottom: 0;
  text-decoration: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

}

h1 a {
  color: #572d21;
  text-decoration: none;
}

h2.tagline {
  color: #bf6819;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin-top: 8px;
}

form {
  margin-top: 48px;
}

input {
  font-size: 28px;
  background-color: #faf9f5;
  border: none;
  border-bottom: 1px #d59d2e solid;
  padding: 4px;
  padding-left: 8px;
  outline: none;
}

input[type=text] {
  color: #bf6819;
}

input[type=submit] {
  color: #572d21;
}

input[type=submit]:hover {
  border-bottom: 1px #572d21 solid;
  background-color: #572d21;
  color: #d59d2e;
}


#landing{
  text-align: center;
  padding: 72px 0;
}

/*** Header ***/
#header {
  width: 500px;
  margin: 0 auto;
}

#header > * {
  display: inline-block;
  margin: 0;
}

#header h1 {
  font-size: 48px;
  margin-right: 24px;
}

#header form {
  position: relative;
  top: -4px;
}

#header input {
  font-size: 20px;
}

#search, #details {
  width: 512px;
  margin: 0 auto;
}

/*** Search results ***/
#results, #description {
  margin: 32px 0;
}

.result {
  padding: 8px 32px;
  margin: 8px 0;
}

.result:hover {
  background-color: #f4f3f0;
}

.result h3 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 18.72px;
}

.result a {
  text-decoration: none;
  color: #d59d2e;
}

.result a:hover,
.result a:active {
  text-decoration: underline;
}

.result h3 a {
  color: #572d21;
}

.signatures {
  font-family: monospace;
  font-size: 16px;
  font-weight: normal;
}

.result .tags {
  margin: 4px 0;
  padding: 0;
  padding-left: 24px;
}

.result .tags li {
  display: inline-block;
  font-family: monospace;
}

.result .tags li:not(:last-child):after {
  content: ',';
  margin-right: 0.5ex;
}

/*** Result ***/
#details .result:hover {
  background-color: inherit;
}

h3 a {
  color: #572d21;
}

.declaration {
  display: table;
}

h3 {
  display: table-cell;
  padding: 0;
}

.signatures {
  display: table-cell;
  list-style: none;
  padding: 0;
  padding-left: 1ex;
  font-family: monospace;
  font-size: 16px;
  color: #d59d2e;
}

.signatures li {
  padding: 2px;
}

.signatures li:before {
  content: '::';
  margin-right: 1ex;
}

.description {
  margin: 0px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 24px;
}

#details a.link {
  color: #bf6819;
  text-decoration: none;
  font-size: 14px;
}

#details a.link:hover {
  text-decoration: underline;
}

/*** Footer ***/
#footer {
  margin-top: 32px;
  color: #d59d2e;
  text-align: center;
  text-transform: lowercase;
  font-size: 14px;
}

#footer a {
  color: #6293c2;
  text-decoration: none;
}
