/**
 * #d59d2e light yellow
 * #bf6819 orange
 * #d8d7d3 whitish
 * #6293c2 light blue
 * #572d21 brown
 */

body {
  background-color: #faf9f5;
  padding: 72px 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: #572d21;
  font-size: 60px;
  margin-bottom: 0;
}

h2 {
  color: #bf6819;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin-top: 8px;
}

form {
  margin-top: 48px;
}

input {
  font-size: 24px;
  background-color: #faf9f5;
  border: none;
  border-bottom: 1px #d59d2e solid;
  outline: none;
}

input[type=text] {
  color: #bf6819;
}

input[type=submit] {
  margin-left: -1px;
  color: #572d21;
}

.landing{
  text-align: center;
}

.search {
  display: inline-block;
}

#header .search {
  margin: 0;
}

#results {
  margin: 10px;
}


#footer {
  margin-top: 48px;
  color: #d59d2e;
  text-align: center;
  text-transform: lowercase;
  font-size: 14px;
}

a {
  color: #6293c2;
  text-decoration: none;
}
